@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.side {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  color: white;
  position: relative;
  z-index: 0;
  transition: all 2000ms ease-in-out;
  &#playstation {
    background: url(../images/ps.jpg) no-repeat center center/cover;
  }

  &#xbox {
    background: url(../images/xbox.png) no-repeat center center/cover;
  }

  &:hover {
    flex: 4;
    transition: all 2000ms ease-in-out;
  }

  h1 {
    font-size: 5rem;
    white-space: nowrap;
  }

  .button {
    border: 5px solid white;
    outline: none;
    background: transparent;
    padding: 1.5em 5em;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    &--blue:hover {
      background: #00509d;
      border-color: #00509d;
    }
    &--green:hover {
      background: #008000;
      border-color: #008000;
    }
  }

  .layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
    &--blue {
      background: #00509d;
    }

    &--black {
      background: rgb(0, 0, 0);
    }
  }
}
